body{
    font-family: 'Lato', sans-serif;
}
p{
  color: black;
  font-size: medium;
  font-weight: bold;
}
h5{
    font-weight: lighter;
}
ul{
    font-weight: lighter;
}
.aaa{
    font-weight: lighter;
}
.bbb{
    font-weight: lighter;
}